body{
  background-image: url(background.jpg);
  overflow: hidden;
  width: 80px;
  height: 2400px;
  margin left: -77px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  }

div.immagine{
  position: absolute;
  top: -500px;
  left: 300px;
  right: 60px;
  width: 85%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 1.3;
}



div.row{
  color: white;
  font-size: 30px;

}

div.logo{
  text-align: center;
}

img{
  font-size: 20px;
}

h3.boolean{
  font-size: 80px;
  color: limegreen;
  font-style: normal;
}

input.caselle{
  height: 20px;
  width: 200px;
  padding: 20px;
}

input.quadrato{
  height: 10px;
  width: 30px;
}

h2{
  color: white;
  font-size: 40px;
}

strong{
  font-size: 70px;
  font-style: normal;
}

span{
  text-align: center;
}

input.checkbox{
  width: 150px;
  height: 200px;
}

div,input.value{
  font-size: 50px;
}

div.rettangoloprincipale{
  width: 1000px;
  height: 80px;
  background: limegreen;
  margin: 0 auto;
  border-radius: 10px;
  padding: 40px;
}

div.rettangolo{
  width: 1000px;
  height: 80px;
  background: yellow;
  border-radius: 10px;
  }

  div.rettangolo2{
    width: 1700px;
    height: 80px;
    background: limegreen;
    border-radius: 10px;
  }

  div.rettangolo3{
    width: 600px;
    height: 80px;
    background: red;
    border-radius: 10px;
  }
